    <div class="header">
        <img class="logoDeusto"/>
        <h1 class="tituloUniversidad">Universidad de Deusto</h1>
        <h1 class="tituloPagina">ACCESSIA</h1>
    </div>

    <div class="navBarUsuario">
        <button class="btnHeader">Trabajo de fin de grado</button>
        <button class="btnHeader">¿Qué es Accessia?</button>
        <button class="btnHeader">¿Cómo funciona Accessia?</button>
        <button class="btnHeader">Mis datos de Accessia</button>
        <button class="btnHeader">Iniciar sesión</button>
        <button class="btnHeader">
            <a class="btnHeaderLink" href="../pages/registroUsuario.html">Registrar usuario</a>
        </button>
    </div>