    <script src="/js/registro.js"></script>
    <meta charset="UTF-8" />
    <div class="header">
        <img class="logoDeusto"/>
        <h1 class="tituloUniversidad">Universidad de Deusto</h1>

        <a href="http://accessia.click" target="_parent ">
            <img class="tituloPagina">
        </a>

        <div class="usuario">
            <div class="divUsuario" id="usuarioLabel">
                <label class="labelUsuario">
                    Usuario
                </label>
            </div>
            <div class="inicio" id="inicioUsuario">
                <a class="aUsuario" href="/pages/iniciarSesion.html">Iniciar sesion</a>
                <label>/</label>
                <a class="aUsuario" href="/pages/registroUsuario.html" target="_parent">Registrar Usuario</a>
            </div>
              
            <img class="iconoUsuario" id="iconoUsuario"/>
            <img class="iconoCerrarSesion" style = "display:none;" id="iconoCerrarSesion" onclick="cerrarSesion()"/>
            <script>
                comprobarUsuario();
            </script>
        </div>
    </div>

    <div class="cabecera">
        <div class="navBarUsuario">
            <button class="btnHeader"><a class="btn"href="/pages/trabajoFinDeGrado.html">Trabajo Fin De Grado</a></button>
            <button class="btnHeader"><a class="btn"href="/pages/whatisaccessia.php">¿Qué es Accessia?</a></button>
            <button class="btnHeader" onclick="abrirUsuario()">Usuario</button>
            
        </div>
    </div>