.pantallaUsuario{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.historial{
    position: relative;
    width: 100%;
}

.graficos{
    position: relative;
    width: 100%;
}
.configuracion{
    position: relative;
    width: 100%;
}



.titulo{
    width: 100%;
    position: relative;
    font-family: 'Cormorant Garamond';
    font-size: 23;
}
.tituloU{
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.divTabla{
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}
.tabla{
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;
    margin-top: 4%;
    margin-bottom: 5%;
    border: 1px solid black;
}
.cabeceraTabla{
    font-family: 'Cormorant Garamond , bold';
    font-size: 21;
    font-weight: bold;
    padding-bottom: 1%;
}
.celda{
    text-align: center;
    height: 30px;
}
tr:nth-child(even) {
    background-color: #b4b3b3;
    padding: 8px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 40%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .sliderDiv{
      margin-top: 2%;
      height: 30%;
      border : 1px solid red;
  }
  .filtro{
      display: flex;
      height: 32%;
      border: 1px solid green;
  }